extends layout

block content
	div.sticky
		nav.top-bar
			ul.title-area
				li.name
					h1
						a(href='#') snapOR
			ul.left
				li
					p Discover Photos
				li
					p Explore Parks
			ul.right
				li
					a(href='#', data-reveal-id="myModal") Login
						#myModal.reveal-modal(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
							form(method="post" action="/login")
								input(type="text" name="username" value="username")
								br
								input(type="password" name="password" value="password")
								br
								input(type="submit" value="Let me in!")
								br
								input(type="submit" value="reset password")
								a.close-reveal-modal(aria-label='Close') &times;
        li
          a(href='#', data-reveal-id='myModal') Register
            #myModal.reveal-modal(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
              h2#modalTitle Register New Account
                div.user-label
                  label Email (This will be your username): 
                  input(type="text", name="email", style="font-family: 'Carrois Gothic'", placeholder="user@example.com")
                div.pw-label
                  label Password:
                  input(type="password" name="password")
                div.pw-confirm
                  label Confirm Password: 
                  input(type="password" name="password_confirm")
                div.sub-btn
                input.submit(type="submit" style="font-family: 'Carrois Gothic'" value="Register account")
          a.close-reveal-modal(aria-label='Close') &#215;
	div#map_canvas
		p
		//img.hero(src='/images/placeholder.jpg')
	script.
		$(document).foundation();
extends layout
