extends layout

block content
	div.contain-to-grid.sticky
		nav.top-bar(data-topbar="", role="navigation")
			ul.title-area
				li.name
					h1
						a(href='#') snapOR
				li.toggle-topbar.menu-icon
					a(href="#")
						span Menu
			section.top-bar-section
				ul.right
					li
						a(href='#', data-reveal-id="login") Login
							#login.reveal-modal(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
								h2#modalTitle Login
								form(method="post" action="/login")
									input(type="text" name="username" placeholder="username")
									br
									input(type="password" name="password" placeholder="password")
									br
									input(type="submit" value="Let me in!")
									br
									input(type="submit" value="reset password")
							//a.close-reveal-modal(aria-label='Close') &times;
					li
						a(href='#', data-reveal-id='register') Register
							#register.reveal-modal(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
								h2#modalTitle Register New Account
									div.user-label
										label Email (This will be your username): 
										input(type="text", name="email", style="font-family: 'Carrois Gothic'", placeholder="user@example.com")
									div.pw-label
										label Password:
											input(type="password" name="password")
									div.pw-confirm
										label Confirm Password: 
											input(type="password" name="password_confirm")
									div.sub-btn
										input.submit(type="submit" style="font-family: 'Carrois Gothic'" value="Register account")
							//a.close-reveal-modal(aria-label='Close') &#215;
				ul.left
					li.active
						a(href='#', data-reveal-id="photos") Discover Photos
							#photos.reveal-modal(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
									h2#modalTitle Discover Photos
									form(method="post" action="/photos")
										input(type="text" name="Enter tags:" placeholder="Ex: 'waterfalls', 'cape kiwanda'")
										br
										input(type="submit" value="Discover")
								//a.close-reveal-modal(aria-label='Close') &times;
					li.active
						a(href='#', data-reveal-id="parks") Explore Parks
							#parks.reveal-modal(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
									h2#modalTitle Explore Parks
									form(method="post" action="/parks")
										input(type="text" name="Enter park name:" placeholder="Ex: 'cape kiwanda', 'silver falls state park'")
										br
										input(type="submit" value="Explore")
								//a.close-reveal-modal(aria-label='Close') &times;
	div#map_canvas
		p
		//img.hero(src='/images/placeholder.jpg')
	script.
		$(document).foundation();
extends layout
