extends layout

block content
	.fixed.sticky
		nav.top-bar(data-topbar="", role="navigation")
			ul.title-area
				li.name
					h1
						a(href='/') snapOR
				li.toggle-topbar.menu-icon
					a(href="#")
						span Menu
			section.top-bar-section
				ul.right
					li
						a(href='#', data-reveal-id="login") Login
							#login.reveal-modal.users(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
								h2#modalTitle Login
								form(method="post" action="/login")
									label.label Email: 
									input(type="text" name="username" style="font-family: 'Robot Slab'" placeholder="ex: user@domain.com")
									label.label Password: 
									input(type="password" name="password" style="font-family: 'Robot Slab'" placeholder="password")
									input.button(type="submit" style="font-family: 'Questrial'" value="Login")
									input.button(type="submit" style="font-family: 'Questrial'" value="Reset Password")
							//a.close-reveal-modal(aria-label='Close') &times;
					li
						a(href='#', data-reveal-id='register') Register
							#register.reveal-modal.users(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
								h2#modalTitle Register New Account
								form(method="post" action="/user")
									label.label Email (This will be your username): 
									input(type="text" name="email" style="font-family: 'Roboto Slab'" placeholder="user@example.com")
									label.label Password: 
									input(type="password" name="password" style="font-family: 'Roboto Slab'" placeholder="password")
									label.label Re-enter Password: 
									input(type="password" name="password_confirm" style="font-family: 'Robot Slab'" placeholder="password confirmation")
									br
									input.button(type="submit" style="font-family: 'Questrial'" value="Register account")
				ul.left
					li.active
						a(href='#', data-reveal-id="photos") Discover Photos
							#photos.reveal-modal.queries(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
									h2#modalTitle Discover Photos
									form(method="post" action="/photos")
										#featureList
											input(class="typeahead" type="text" name="Enter tags:" style="font-family: 'Robot Slab'" placeholder="Ex: 'waterfalls', 'cape kiwanda'")
											br
											input.button(type="submit" style="font-family: 'Questrial'" value="Register account")
											//input(class="submit" type="submit" value="Discover")
								//a.close-reveal-modal(aria-label='Close') &times;
					li.active
						a(href='#', data-reveal-id="parks") Explore Parks
							#parks.reveal-modal.queries(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
									h2#modalTitle Explore Parks
									form(method="post" action="/parks")
										#parkList
											input(class="typeahead" type="text" name="Enter park name:" style="font-family: 'Robot Slab'" placeholder="Ex: 'cape kiwanda', 'silver falls state park'")
											br
											input(class="submit" type="submit" value="Explore")
								//a.close-reveal-modal(aria-label='Close') &times;
	#map_canvas
		script.
			$(document).foundation();

