doctype html
html
	head
		title snapOR
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ6B0c1rmEp3-VR0gJyjkdK5BmpypkpdA')
		script(src='/javascripts/underscore.js')
		script(src='/javascripts/backbone.js')
		script(src='/javascripts/jquery-2.1.4.js')
		script(src='/javascripts/foundation.min.js')
		script(src='/javascripts/lat-long.js')

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora|Satisfy|Open+Sans+Condensed:300' )
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
	body
		block content