doctype html
html
	head
		title snapOR
		link(href="https://fonts.googleapis.com/css?family=Questrial|Gilda+Display|Satisfy|Roboto+Slab", rel="stylesheet", type="text/css")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ6B0c1rmEp3-VR0gJyjkdK5BmpypkpdA')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora|Satisfy|Open+Sans+Condensed:300' )
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		block content
