doctype html
html
	head
		title snapOR
		svg.si-glyph-camera(xmlns="http://www.w3.org/2000/svg")
			use(xlink:href="sprite.svg#si-glyph-camera")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ6B0c1rmEp3-VR0gJyjkdK5BmpypkpdA')
		script(src='/javascripts/all.js')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora|Satisfy|Open+Sans+Condensed:300' )
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		block content
