/*************************
Variables
*************************/
/*
font-family: 'Lora', serif;
font-family: 'Satisfy', cursive;
font-family: 'Open Sans Condensed', sans-serif;

red: #EB584E;
blue: #1E749E;
yellow: #EEC54B
*/

/*************************
Header & Nav 
*************************/
h1{
/*	width: 10%;*/
/*	background-color: #FEC63D;*/
}
ul{
/*	width: 70%;*/
/*	float: right;*/
}
li{
/*	background-color: gray;*/
/*	margin-left: 1%;*/
/*	display: inline-block;*/
}

.top-bar{
	background-color: #FF5D55;
}

ul li {
	background-color: #FEC63D;
}


#map_canvas{
	height: 600px;
	width: 1000px;
}

/*************************
Ind. Park Page
*************************/

/*************************
Photo Search
*************************/
