@import 'foundation.scss';
@import url(https://fonts.googleapis.com/css?family=Questrial|Gilda+Display|Satisfy|Roboto+Slab);
//cd into snapOR/public/stylesheets, then run 'scss main.scss main.css' in terminal to compile scss to css or gulp serve

/******************
VARIABLES
******************/

$blue: #1E749E;
$yellow: #FEC63D;
$red: #FF5D55;

$sans-serif: "Questrial", sans-serif;  
//$serif: "Roboto Slab", serif;
$serif: "Gilda Display", serif;
$cursive: "Satisfy", cursive;

/******************
GENERAL
******************/

body {
	background-color: $blue;
	// @media only screen and (max-width: 40em){
	// 	background-color: black;
	// } 
}

/******************
NAV BAR
******************/

body div.fixed.sticky nav.top-bar section.top-bar-section ul.right li a, body div.fixed.sticky nav.top-bar section.top-bar-section ul.left li.active a, body div.fixed.sticky nav.top-bar {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
}

/******************
SITE NAME
******************/

body div nav.top-bar ul.title-area li.name h1 a {
	background-color: $yellow;
	color: $red;
	font-family: $cursive;
	font-size: 20px;
}

nav.top-bar ul.title-area li.toggle-topbar.menu-icon a {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
}

nav.top-bar section.top-bar-section ul.right li a {
	font-size: 20px;
}

nav.top-bar section.top-bar-section ul.left li a {
	font-size: 20px;
}

nav.top-bar.expanded.fixed section.top-bar-section ul.right li a{
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
} 

nav.top-bar.expanded.fixed section.top-bar-section ul.left li.active a {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
} 


/******************
MOBILE VERSION
******************/
@media only screen and (max-width: 40em){
	.name h1 {
		background-color: $yellow;
		color: purple;
		font-family: $cursive;
		font-size: 5em;
		// margin: 0 20%;
	}
	li {
		list-style-type: none;
		font-size: 2em;
		margin: 10%;
		background-color: $red;
		margin: 10%;
		padding: 0 auto;
		width: 80%;
	}
	.reveal-modal{
		width: 60%;
		margin: 20%;
	}
}

/******************
MODALS
******************/

.reveal-modal {
	background-color: $red;
}

#photos, #parks{
	height: 40%;
}

.label {
	font-family: $sans-serif;
	font-size: 25px;
	color: $blue;
	background-color: $red;
}

#modalTitle {
	font-family: $serif;
	color: $yellow;
}

#featureList, #parkList{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#featureList .submit, #parkList .submit{
	width: 10%;
	margin-left: 5%;
}
#featureList .typeahead, #parkList .typeahead{
	width: 100%
}
form div#featureList span.twitter-typeahead, form div#parkList span.twitter-typeahead{
	width: 60%;
}

.button{
	margin-right: 1%;
}

/******************
USER PAGE
******************/
.welcome {
	padding-top: 5px;
	background-color: $red;
	font-family: $sans-serif;
	color: $yellow;
}

//div for appending info from user_model.js
#userDiv {
	padding-top: 10em;
}

#userInfoDiv {
	max-width: 70%;
	padding-left: 30px;
}

button .button #saveBtn {
	background-color: $red;
}


/******************
MAP CANVAS
******************/

#map_canvas {
	height: 75%;
	width: 70%;
	// height: 600px;
	// width: 1000px;
	margin: 5% auto;
}