@import 'foundation.scss';
@import url(https://fonts.googleapis.com/css?family=Questrial|Gilda+Display|Satisfy|Roboto+Slab);
//cd into snapOR/public/stylesheets, then run 'scss main.scss main.css' in terminal to compile scss to css or gulp serve



/******************
VARIABLES
******************/

$blue: #1E749E;
$yellow: #FEC63D;
$red: #FF5D55;

$sans-serif: "Questrial", sans-serif;
//$serif: "Roboto Slab", serif;
$serif: "Gilda Display", serif;
$cursive: "Satisfy", cursive;

/******************
GENERAL
******************/

body {
	background-color: $blue;
}

/******************
NAV BAR
******************/

body div.fixed.sticky nav.top-bar section.top-bar-section ul.right li a, body div.fixed.sticky nav.top-bar section.top-bar-section ul.left li.active a, body div.fixed.sticky nav.top-bar {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
}

nav.top-bar {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
	height: 5em;
}

div.sticky.hide-for-small-only nav.top-bar section.top-bar-section ul.left li.active a {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
	padding-top: 17px
}

div.sticky.hide-for-small-only nav.top-bar section.top-bar-section ul.right li a {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
	padding-top: 17px
}

/******************
SITE NAME
******************/

body div nav.top-bar ul.title-area li.name h1 a {
	background-color: $yellow;
	color: $red;
	font-family: $cursive;
	font-size: 20px;
	height: 4em;
	padding-top: 17px
}

nav.top-bar ul.title-area li.toggle-topbar.menu-icon a {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
}

nav.top-bar section.top-bar-section ul.right li a {
	font-size: 20px;
}

nav.top-bar section.top-bar-section ul.left li a {
	font-size: 20px;
}

nav.top-bar.expanded.fixed section.top-bar-section ul.right li a{
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
}

nav.top-bar.expanded.fixed section.top-bar-section ul.left li.active a {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
}

/******************
MODALS
******************/

.reveal-modal {
	background-color: $red;
}

#photos, #parks{
	height: 40%;
}

.label {
	font-family: $sans-serif;
	font-size: 25px;
	color: $yellow;
	background-color: $red;
}

#modalTitle {
	font-family: $serif;
	color: $yellow;
	text-align: center;
}

#featureList, #parkList{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#featureList .submit, #parkList .submit{
	width: 120px;
	margin-left: 5%;
}
#featureList .typeahead, #parkList .typeahead{
	width: 100%
}
form div#featureList span.twitter-typeahead, form div#parkList span.twitter-typeahead{
	width: 60%;
}

.button{
	margin-left: 5%;
	background-color: $blue;
}
.open a.close-reveal-modal {
	color: $blue;
}
.open a.close-reveal-modal:hover {
	color: $yellow;
}
/******************
USER PAGE
******************/
.welcome {
	padding-top: 5px;
	background-color: $red;
	font-family: $sans-serif;
	color: $yellow;
}

//div for appending info from user_model.js
#userDiv {
	padding-top: 10em;
}

#userInfoDiv {
	max-width: 70%;
	padding-left: 30px;
}

button .button #saveBtn {
	background-color: $red;
}


/******************
MAP CANVAS
******************/

#map_canvas {
	height: 85%;
	width: 100%;
	// height: 600px;
	// width: 1000px;
	margin: 0 auto;
}

/******************
FLICKR PICTURES
******************/
#parkLabel, {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
}
#pictures{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.flickrPhoto{
	flex-grow: 0;
	flex-grow:hover { transform: scale(1.1); }
	flex-shrink: 0;
	flex-basis: 0;
}

#parkInfo p {
	text-align: center;
}

.flickrPhoto:hover{
	box-shadow: 0px 0px 30px #000000;
	transition: all 200ms ease-in;
	transform: scale(1.2);
}

/******************
MOBILE VERSION
******************/
@media only screen and (max-width: 40em){
	.name h1 {
		background-color: $yellow;
		font-family: $cursive;
		font-size: 5em;
		text-align: center;
	}
	a h1 {
		color: $red;
	}
	a div {
		list-style-type: none;
		font-size: 2em;
		background-color: $red;
		margin: 10%;
		text-align: center;
	}
	a {
		color: $yellow;
		font-family: $sans-serif;
	}
	.reveal-modal{
		width: 70%;
		margin: 20%;
	}
}

/******************
PARK VIEW DATA
******************/
#parkdiv{
	text-align: center;
}
