@import 'foundation.scss';
@import url(https://fonts.googleapis.com/css?family=Questrial|Satisfy|Roboto+Slab);
//cd into snapOR/public/stylesheets, then run 'scss main.scss main.css' in terminal to compile scss to css or gulp serve

/******************
VARIABLES
******************/

$blue: #1E749E;
$yellow: #FEC63D;
$red: #FF5D55;

$sans-serif: "Questrial", sans-serif;  
$serif: "Roboto Slab", serif;
$cursive: "Satisfy", cursive;

$small-breakpoint:  em-calc(640)  !default;
$medium-breakpoint: em-calc(1024) !default;
$large-breakpoint:  em-calc(1440) !default;
$xlarge-breakpoint: em-calc(1920) !default;

$screen: "only screen" !default;

/******************
GENERAL
******************/

body {
	background-color: $blue;
}

/******************
NAV BAR
******************/

body div.fixed.sticky nav.top-bar section.top-bar-section ul.right li a, body div.fixed.sticky nav.top-bar section.top-bar-section ul.left li.active a, body div.fixed.sticky nav.top-bar .contain-to-grid {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
	
	@media #{$small-only} { 
		background-color: $red;
		padding-top: 20px;
		font-size: 25px;
	} 
}

/******************
SITE NAME
******************/

body div nav.top-bar ul.title-area li.name h1 a {
	background-color: $yellow;
	color: $red;
	font-family: $cursive;
	font-size: 20px;
}

nav.top-bar ul.title-area li.toggle-topbar.menu-icon a {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
}

nav.top-bar section.top-bar-section ul.right li a {
	font-size: 20px;
}

nav.top-bar section.top-bar-section ul.left li a {
	font-size: 20px;
}

nav.top-bar.expanded.fixed section.top-bar-section ul.right li a{
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
} 

nav.top-bar.expanded.fixed section.top-bar-section ul.left li.active a {
	background-color: $red;
	color: $yellow;
	font-family: $sans-serif;
} 


/******************
MODALS
******************/

.reveal-modal {
	background-color: $red;
}

#photos, #parks{
	height: 40%;
}

.label {
	font-family: $sans-serif;
	font-size: 25px;
	color: $blue;
	background-color: $red;
}

#modalTitle {
	font-family: $serif;
	color: $yellow;
}

#featureList, #parkList{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#featureList .submit, #parkList .submit{
	width: 10%;
	margin-left: 5%;
}
#featureList .typeahead, #parkList .typeahead{
	width: 100%
}
form div#featureList span.twitter-typeahead, form div#parkList span.twitter-typeahead{
	width: 60%;
}

.button{
	margin-right: 1%;
}

/******************
USER PAGE
******************/
.welcome {
	padding-top: 5px;
	background-color: $red;
	font-family: $sans-serif;
	color: $yellow;
}

//div for appending info from user_model.js
#userDiv {
	padding-top: 10em;
}

#userInfoDiv {
	max-width: 70%;
	padding-left: 30px;
}

button .button #saveBtn {
	background-color: $red;
}


/******************
MAP CANVAS
******************/

#map_canvas {
	height: 75%;
	width: 70%;
	// height: 600px;
	// width: 1000px;
	margin: 5% auto;
}
