/*************************
Variables
*************************/
/*
font-family: 'Lora', serif;
font-family: 'Satisfy', cursive;
font-family: 'Open Sans Condensed', sans-serif;

red: #EB584E;
blue: #1E749E;
yellow: #EEC54B
*/

/*************************
Header & Nav 
*************************/

.title{
	width: 10%;
	background-color: #FEC63D;
}

li{
	background-color: gray;
	margin-left: 1%;
}


#map_canvas{
	height: 300px;
	width: 500px;
}

/*************************
Ind. Park Page
*************************/

/*************************
Photo Search
*************************/